<div class="contentContainer">

  <div class="contact-container">
    <a (click)="getVcard()">ADD TO CONTACTS</a><!-- IDEA: click to 'save' to contacts -->
  </div>

  <div class="">
    <ul class="contact-list">
      <li><img class="icons" src="../../assets/icons/mobile.svg" alt="phone icon"><p>(333) 444-5555</p></li> <!-- IDEA: click to send message -->
      <li><img class="icons" src="../../assets/icons/email-chic.svg" alt="email icon"> <p>example@email.com</p></li> <!-- IDEA: click to send email -->
      <li><img class="icons" src="../../assets/icons/instagram.svg" alt="social icons"> <p>Instagram</p></li> <!-- IDEA: click to go to app -->
      <li><img class="icons" src="../../assets/icons/facebook-inverted.svg" alt="social icons"> <p>Facebook</p> </li> <!-- IDEA: click to go to app -->
    </ul>
  </div>

  <div class="action-buttons">
      <img class="" src="../assets/icons/date.svg" alt="Schedule a meeting">
      <img class="" src="../assets/icons/share-gray.svg" alt="share">
  </div>
  <div class="space">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

</div>
