/*

This is the bottom section of the Biz card
  - includes the add contact button and
  the 2 floating buttons on the right side of the screen

 */

 /* NOTE:  Containers
 */

 .contact-container {
   position: relative;
   top: -30px;
   text-align: center;
   padding: 3%;
   background-color: white;
   color: rgb(65, 65, 65);
   box-shadow: 0 0 10px 4px rgba(144,144,144,.7);
 }

 .contact-container a {
   color: black;
   text-decoration: none;
 }


/* NOTE:  ICONS
*/
 .contact-list {
   padding: 1%;
 }
.contact-list li {
  list-style-type: none;
  padding: 5%;
  text-align: left;
  display: inline-flex;
}

.icons {
  width: 15%;
  height: 15%;
  margin: 0 5% 0 0;
}

.contact-list span {
  font-size: 1.5em;
  box-sizing: content-box;

}


/* NOTE: Share buttons right-hand side
 */
.action-buttons {
  position: fixed;
  left: 80%;
  top: 60%;
}

.action-buttons img {
  width: 75%;
  display: block;
  margin: 10% 0;
  padding: 10%;
  border-radius: 50%;
}

.space {
  padding: 5%;
}
