<div class="contentContainer">
  <br>
  <div class="">
    ADD TO CONTACTS <!-- IDEA: click to 'save' to contacts -->
  </div>
  <div class="">
    "Per Aspera, Ad Astra"
  </div>
  <div class="">
    <ul class="contact-list">
      <li><img src="" alt="phone icon"> <span>MOBILE:</span> <span>(333)444-5555</span></li> <!-- IDEA: click to send message -->
      <li><img src="" alt="email icon"> <span>EMAIL:</span> <span>example@email.com</span></li> <!-- IDEA: click to send email -->
      <li><img src="" alt="social icons"> <span>SOCIAL:</span> <span><br>@twitter</span></li> <!-- IDEA: click to go to app -->
      <li><img src="" alt="social icons"> <span>SOCIAL:</span> <span><br>@facebook</span></li> <!-- IDEA: click to go to app -->
    </ul>
  </div>

</div>
