<!-- NOTE: This starts the overall container -->
<div class="cardContainer">

  <div class="">

    <img src="" alt="person's pic">
    <div class="">
      <span>Name, </span><span>Title</span>
    </div>
  </div>
<br>
<br>

  <div class="contentContainer">
    <h3>// This will be the content section</h3>
    <br>
    <div class="">
      ADD TO CONTACTS <!-- IDEA: click to 'save' to contacts -->
    </div>
    <div class="">
      "Per Aspera, Ad Astra"
    </div>
    <div class="">
      <ul>
        <li><span>MOBILE:</span> <span>(333)444-5555</span></li> <!-- IDEA: click to send message -->
        <li><span>EMAIL:</span> <span>example@email.com</span></li> <!-- IDEA: click to send email -->
        <li><span>SOCIAL:</span> <span><br>@twitter <br> @facebook</span></li> <!-- IDEA: click to go to app -->
      </ul>
    </div>

  </div>

  <div class="">
    <h3>placeholder for the 2 icons that sit at bottom right of screen</h3>
    <div class="">
      <img src="" alt="Schedule a meeting">
    </div>
    <div class="">
      <img src="" alt="share">
    </div>
  </div>

</div>
